<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="form">
      <form class="login-form" id="login_div" action="/login" method="POST">
        <h2><%= title %></h2>
        <input
          type="text"
          name="username"
          placeholder="Username"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <% if (hasMessages) { %>
          <% messages.forEach(function(message){ %>
            <small><%= message %></small>
          <% }); %>
        <% } %>
        <button type="submit" id="login">Login</button>
        <br />
        <a href="/login/google"
          ><button
            class="btn btn-block btn-social btn-google"
            id="btnGoogle"
            type="button"
          >
            Login with Google
          </button></a
        >
        <br>
        <a href="/login/facebook"
          ><button
            class="btn btn-block btn-social btn-google"
            id="btnFacebook"
            type="button"
          >
            Login with Facebook
          </button></a
        >
        <br />
        <a href="/signup"
          ><button type="button" id="register_btn">Sign Up</button></a
        >
        <br>
        <a href="/sendmail_forget"
          ><button type="button" id="forget_btn">Forget Password</button></a
        >
      </form>
    </div>
  </body>
</html>
