<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="form">
      <form class="login-form" id="login_div" action="/new_password" method="POST">
        <h2><%= title %></h2>
        <input type="text" placeholder="Code" name="code" id="code" />
        <input class="input_hide" type="text" name="id" value=<%=account.id %> />
        <input type="password" placeholder="Password" name="password" id="password_new" />
        <input type="password" placeholder="Confirm password" name="confirm" id="confirm" />
          <% if(err){ %> 
            <small ><%= err %> </small>
          <%} %>
        <button type="submit" id="login">Submit</button>
      </form>
    </div>
  </body>
</html>
